<!doctype html>
<html lang="en">
<head>
	<meta charset=utf-8>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{.Name}}{{if (or .BirthDate .DeathDate)}} ({{if .BirthDate}}{{.BirthDate}}{{end}}-{{if .DeathDate}}{{.DeathDate}}{{end}}){{end}}</title>
	<link href="/static/mormor.css" media="all" rel="stylesheet" />
</head>
<body>
	<main>
		<h1>{{.Name}}{{if (or .BirthDate .DeathDate)}} ({{if .BirthDate}}{{.BirthDate}}{{end}}-{{if .DeathDate}}{{.DeathDate}}{{end}}){{end}}{{if .ShortDescription}}<br/><span class="smaller grey">{{.ShortDescription}}</span>{{end}}</h1>
		<p>{{.LongDescription}}</p>

		{{if .Works}}
		<h2>Litterær produksjon</h2>
		{{if .WorksAs "role/author" .URI}}
		<h3>Originalverk</h3>
		<table class="original-work-list">
			<thead>
				<tr>
					<th>År</th>
					<th>Tittel</th>
					<th>Utgaver</th>
					<th>Form</th>
				</tr>
			</thead>
			<tbody>
				{{- range .WorksAs "role/author" .URI}}{{with $work := .}}
				<tr>
					<td>
						{{- .FirstPublicationDate -}}
					</td>
					<td>
						{{- .Title }}<br/>
						<span class="smaller">
						{{- if .AltTitle -}}
							<strong>Også kjent som:</strong>
							{{- range $i, $t := .AltTitle}}{{if $i}} / {{end}}{{$t}}{{end -}}
						{{- end -}}
						</span>
					</td>
					<td>
						{{range .Publications}} <a href="/{{$work.URI}}/{{.URI}}">{{.PublishYear}}</a>{{end}}
					</td>
					<td>
						{{- range .Forms -}}
							<span class="tag">{{.}}</span>
						{{- end -}}
					</td>
				</tr>
				{{ if .TranslationsLanguages -}}
					</tbody>
					<tbody>
						<tr>
							<td></td>
							<td colspan="3">
								{{ range $lang, $count := .TranslationsLanguages }}
									<a href="#{{$work}}/{{$lang}}">{{$lang}} ({{$count}})</a>
								{{ end }}
							</td>
						</tr>
					</tbody>
					<tbody>
				{{ end }}
				{{- range $lang, $translations := .TranslationsByLanguage -}}
				<tr>
					<td colspan="4">{{$lang}}</td>
				</tr>
				{{- range $t := $translations -}}
					<tr>
						<td></td>
						<td>
							{{- .Title }}<br/>
							<span class="smaller">
							{{- if .AltTitle -}}
								<strong>Også kjent som:</strong>
								{{- range $i, $t := .AltTitle}}{{if $i}} / {{end}}{{$t}}{{end -}}
							{{- end -}}
							<p class="dense">
								{{- if .ContribsBy "role/translator"}}
									<span class="smaller"><strong>Oversatt av </strong>
										{{range $i, $w := .ContribsBy "role/translator"}}
											{{if $i}}, {{end}}
											<a href="/{{$w.Agent.URI}}">{{$w.Agent.Name}}</a>
										{{end}}
									</span>
								{{- end}}<br/>
								{{- if .ContribsBy "role/illustrator"}}
									<span class="smaller"><strong>Illustrert av </strong>
										{{range $i, $w := .ContribsBy "role/illustrator"}}
											{{if $i}}, {{end}}
											<a href="/{{$w.Agent.URI}}">{{$w.Agent.Name}}</a>
										{{end}}
									</span>
								{{- end}}
							</p>
							</span>
						</td>
						<td>
							{{range .Publications}} <a href="/{{$work.URI}}/{{.URI}}">{{.PublishYear}}</a>{{end}}
						</td>
						<td>
						</td>
					</tr>
					{{end}}{{end}}
				{{end}}{{- end}}
			<tbody>
		</table>
		{{end}}
		{{if .WorksAs "role/translator" .URI}}
		<h3>Oversettelser</h3>
		<table class="translations-work-list">
			<thead>
				<tr>
					<th>År</th>
					<th>Tittel</th>
					<th>Utgaver</th>
					<th>Form</th>
				</tr>
			</thead>
			<tbody>
				{{- range .WorksAs "role/translator" .URI}}{{with $work := .}}
				<tr>
					<td>
						{{- .FirstPublicationDate -}}
					</td>
					<td>
						{{- .Title }}<br/>
						<span class="smaller">
						{{- if .AltTitle -}}
							<strong>Også kjent som:</strong>
							{{- range $i, $t := .AltTitle}}{{if $i}} / {{end}}{{$t}}{{end -}}
						{{- end -}}
						<strong>{{if .TranslationOf.ContribsBy "role/author"}}{{range $i, $a := .TranslationOf.ContribsBy "role/author"}}{{if $i}}, {{end}}<a href="/{{.Agent.URI}}">{{.Agent.Name}}</a>{{end}}: {{end}}{{.TranslationOf.Title}} ({{.TranslationOf.FirstPublicationDate}})</strong>
						</span>
					</td>
					<td>{{range .Publications}} <a href="/{{$work.URI}}/{{.URI}}">{{.PublishYear}}</a>{{end}}</td>
					<td>
						{{- range .TranslationOf.Forms -}}
							<span class="tag">{{.}}</span>
						{{- end -}}
					</td>
				</tr>
				{{end}}{{- end}}
			<tbody>
		</table>
		{{end}}
		{{if .WorksAs "role/illustrator" .URI}}
		<h3>Illustrasjoner</h3>
		<table class="translations-work-list">
			<thead>
				<tr>
					<th>År</th>
					<th>Tittel</th>
					<th>Utgaver</th>
					<th>Form</th>
				</tr>
			</thead>
			<tbody>
				{{- range .WorksAs "role/illustrator" .URI}}{{with $work := .}}
				<tr>
					<td>
						{{- .FirstPublicationDate -}}
					</td>
					<td>
						{{- .Title }}<br/>
						<span class="smaller">
						{{- if .AltTitle -}}
							<strong>Også kjent som: </strong>
							{{- range $i, $t := .AltTitle}}{{if $i}} / {{end}}{{$t}}{{end -}}
						{{- end -}}
						<strong>{{if .TranslationOf.ContribsBy "role/author"}}{{range $i, $a := .TranslationOf.ContribsBy "role/author"}}{{if $i}}, {{end}}<a href="/{{.Agent.URI}}">{{.Agent.Name}}</a>{{end}}: {{end}}{{.TranslationOf.Title}} ({{.TranslationOf.FirstPublicationDate}})</strong>
						</span>
					</td>
					<td>{{range .Publications}}TODO publication{{end}}{{range $t := .Translations}}<p class="dense">{{if gt (len .Publications) 1}}TODO more than one publication{{else if eq (len .Publications) 1}}{{with $p := (index .Publications 0)}}<a href="/{{$t.URI}}/{{$p.URI}}">{{.Title}} ({{$p.PublishYear}})</a>{{end}}{{else}}{{.Title}} ({{.FirstPublicationDate}}){{end}}<br/>
					{{- if .ContribsBy "role/translator"}}<span class="smaller"><strong>Oversatt av </strong>{{range $i, $w := .ContribsBy "role/translator"}}{{if $i}}, {{end}}<a href="/{{$w.Agent.URI}}">{{$w.Agent.Name}}</a>{{end}}</span>{{- end}}<br/>{{- if .ContribsBy "role/illustrator"}}<span class="smaller"><strong>Illustrert av </strong>{{range $i, $w := .ContribsBy "role/illustrator"}}{{if $i}}, {{end}}<a href="/{{$w.Agent.URI}}">{{$w.Agent.Name}}</a>{{end}}</span>{{- end}}</p>{{end}}</td>
					<td>
						{{- range .Forms -}}
							<span class="tag">{{.}}</span>
						{{- end -}}
					</td>
				</tr>
				{{end}}{{- end}}
			<tbody>
		</table>
		{{end}}
		{{end}}
		{{if .WorksAbout}}
		<h2>Litteratur <em>om</em> {{.Name}}</h2>
		<table class="about-work-list">
			<tbody>
				{{- range .WorksAbout}}
				<tr>
					<td>{{.FirstPubYear}}</td>
					<td>{{if .Publications}}<a href="/{{.URI}}">{{.Title}}</a>{{else}}{{.Title}}{{end}}{{if .ContribsBy "role/author"}} av {{range .ContribsBy "role/author"}}<a href="/{{.URI}}">{{.Name}}</a>{{end}}{{end}}</td>
					<td>{{range .Forms}}<span class="tag">{{.}}</span> {{end}}</td>
				</tr>
				{{- end}}
			<tbody>
		</table>
		{{end}}
		<div>
			<hr>
			<p style="font-size:smaller">Vis metadata som <a href="/{{.URI}}.rdf">RDF</a> | <a href="/{{.URI}}.svg">SVG</a> </p>
		</div>
	</main>
<script src="/static/mormor.js" type="text/javascript"></script>
</body>
</html>